<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/demo.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />


</head>
<body>
<h1 class="hero-text">ERROR, Sorry!</h1>
</body>

</html>